// Import page-specific CSS files here.
@import "home";



@media (min-width: 1200px) {
  .container-index { 
      max-width: 1200px;
  }
}

.cards-listings {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.card-listing {
  height: 400px;
  max-width: 275px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  padding: 0;
  position: relative;
  margin: 8px 0px 8px 0px;
}

.card-title {
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 0.5rem;
}

.card-title h3 {
  font-size: 1.5rem;
  margin: 0;
}

.card-listing-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-listing-description {
  margin: 20px 20px;
  text-align: left;
}

.card-details {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card-details p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-price {
  position: absolute;
  right: 0;
}

.card-listing a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10; /* Places the link above everything else in the div */
  background-color: #FFF; /* Fix to make div clickable in IE */
  opacity: 0; /* Fix to make div clickable in IE */
  filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

