<div class="container">
<h1 class="my-2 text-left">When would you like to book it for?</h1>
  <%= simple_form_for [@listing, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
