#new-form {
  margin-top: 40px;
}
.simple_form label {
  padding: 5px 0px;
}
.new-form .img-form {
  width: 120px;
}


.card-product {
  overflow: hidden;
  height: 800px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-infos h2 {
 font-size: 30px;
}

.card-product .card-product-infos {
  padding: 16px;
}
